.mainLeftdescription{
    color: #8167a9;
    font-size: 30px;
    position: absolute;
    top: 40%;
    padding-left: 3%;
}
.mainLeftdescription .description{
    font-size: 50px;
    font-weight: 900;
    color: aliceblue;
}
.mainLeftdescription .description span{
    font-size: 20px;
    font-weight: 900;
    color: aliceblue;
}
@media screen and (max-width:1000px) {
   .mainLeftdescription .description{
       font-size: 30px;
   }
    .mainLeftdescription .description span{
        font-size: 10vw;
        display: block;
    }
    .mainLeftdescription{
        font-size: 20px;
    }
}
@media screen and (max-width:882px) {
    .mainLeftdescription{
        position: absolute;
        top: 100px;
    }
}
