.GithubTopMainConatiner{
    height: 50px;
    width: fit-content;
    overflow-y: hidden;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}
.GithubTopMainConatiner:hover .Github{
    transform: translatey(-50px);
    transition: 0.5s;
    font-size: 20px;
    opacity: 0;
}
.GithubTopMainConatiner:hover .InfiniteNull{
    transform: translatey(-10px);
    transition: 0.5s;
    font-size: 30px;
    opacity: 1;
}
.Github,.InfiniteNull{
    transition: 0.5s;
    cursor: pointer;
    font-size: 30px;
    opacity: 1;
    color: #8167a9;
    font-weight: 900;
    transform: translatey(10px)
}
.InfiniteNull{
    font-size: 10px;
    opacity: 0;
}
.Github span,.InfiniteNull span{
    color: aliceblue;
}