.AboutMemainContainer{
    height: fit-content;
    background-color: rgba(20, 20, 20, 1.00);
    overflow: hidden;
    padding-top: 30px;
    position: relative;
    padding-bottom: 100px;
}
.AboutMeLeftAndImage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
}
.AboutMeLeftAndImage .AboutMeImageContainer{
    height: 700px;
    width: 700px;
    position: relative;
    border-radius: 1000px;
}
.AboutMeMainImage{
    object-fit: cover;
    border-radius: 1000px;
    height: 700px;
    width: 700px;
    box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.94);
    border: 2px solid #ffffff;
}
.BottomAboutME{
    background: linear-gradient(0deg, rgb(37,36,36) 0%, rgba(20,20,20, 0.037) 100%);
    position: absolute;
    bottom: 0;
    height: 150px;
    width: 100%;
}
.AboutMeImage1{
    object-fit: cover;
    border-radius: 1000px;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 0;
    left: -10px;
    animation: DownUp 5s linear infinite;
}
.AboutMeImage2{
    object-fit: fill;
    height: 150px;
    width: 150px;
    position: absolute;
    bottom: -20px;
    right: -10px;
    animation: MoveUpDown 5s linear infinite;
    background-color: rgba(129, 103, 169, 0);
}
@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-25px);
    }
}
@keyframes DownUp {
    0%, 100% {
        transform: translateY(-25px);
    }
    50% {
        transform: translateY(0px);
    }
}

