main {
    position: absolute;
    place-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .container {
    position: relative;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .box {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(92, 92, 92, 0.055);
    border-left:0.5px solid black;
    border-right:0.5px solid black;
    border-top: 30px solid rgb(94, 94, 94) ;
    cursor: pointer;
    z-index: 100;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.171);
  }